{% extends 'base.html.twig' %}

{% block title %}Edition d'une annonce{% endblock %}

{# Allows Twig to use a custom form. _self means the current page #}
{% form_theme form 'ad/_collection.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Modifier l'annonce : {{ad.title}}</h1>

        {{ form_start(form) }}

        {{ form_widget(form )}}

        <button type="submit" class="btn btn-primary">Editer nouvelle annonce</button>

        {{ form_end(form) }}
    </div>

{% endblock %}

{# Javascript part that handles the sub form logic. #}

{% block javascripts %}

<script src="/js/ad.js"></script>

{% endblock %}